<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/style.css">
    <style>
        * {
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .menuprincipal {
            text-align: center;
            width: 100%;
            color: white;
            border-width: 2px;
            border-style: solid;
            border-radius: 10px;
            padding: 15px;
            text-decoration: solid;
            background-color: black;
            font-size: 40px;
        }

        div {
            text-align: center;
            width: 100%;
            color: white;
            border-width: 2px;
            border-style: solid;
            border-radius: 10px;
            background-color: black;
        }

        form {
            text-align: center;
            width: 100%;
            color: white;
            border-width: 2px;
            border-style: solid;
            border-radius: 10px;
            background-color: black;
        }

        input {
            color: white;
            border-width: 2px;
            border-style: solid;
            border-radius: 10px;
            background-color: black;
            border-color: white;
            width: 220px;
            height: 50px;
        }

        input:hover {
            color: black;
            border-width: 2px;
            border-style: solid;
            border-radius: 10px;
            background-color: white;
        }

        .menuprincipal:hover {
            color: black;
            border-width: 2px;
            border-style: solid;
            border-radius: 10px;
            background-color: white;
        }

        h1 {
            margin: 60px;
        }

        form input {
            margin-bottom: 20px;
            margin-top: 10px;
        }

        a input {
            margin-bottom: 60px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .menulogin input {
            margin: 0px;
        }

        table {
            margin: auto;
            font-size: 20px;
        }

        tr,
        td {
            margin-right: 5px;
            padding: 10px;
        }

        .lista h1 {
            text-decoration-line: underline;
        }

        input[type="text"] {
            color: black;
            background-color: white;
        }
    </style>
</head>

<body>
    <div>
        <h1>
            <a href="/menu" class="menuprincipal">Sistema de Gerenciamento de Apresentações UTFPR</a>
        </h1>
    </div>
    {{{body}}}
</body>

</html>