<form action="/post-cadastrar-candidato" method="post">
    <h1>Cadastro de CANDIDATO</h1>
    <p>CPF:</p>
    <input type="text" name="cpf" value=""> <br>
    <p>Nome:</p> 
    <input type="text" name="nome" value="">
    <br><br>
    <p>Idade:</p>
    <input type="text" name="idade" value="">
    <br><br>
    <p>Email</p>
    <input type="text" name="email" value="">
    <br><br>
    <input type="submit" value="Cadastrar">
    <a href="http://localhost:8081/adm/90"><input type="button" value="VOLTAR"></a>
</form>