<form action="/post-time-interesse" method="post">
    <h1>Edição de RESPONSAVEL DE PROJETO</h1>
    <input type="hidden" name="id" value="{{projeto.id}}">
    <p>Iteressado 1</p>
    <input type="text" name="p1" value="{{projeto.p1}}"> <br>
    <p>Iteressado 2</p>
    <input type="text" name="p2" value="{{projeto.p2}}"> <br>
    <p>Iteressado 3</p>
    <input type="text" name="p3" value="{{projeto.p3}}"> <br>
    <input type="submit" value="Selecionar time para o projeto">
</form>