<form action="/post-edit-candidatos" method="post">
    <h1>Edição de CANDIDATO</h1>
    <input type="hidden" name="id" value="{{candidato.ra}}">
    <p>RA:</p>
    <input type="text" name="ra" value="{{candidato.ra}}"> <br>
    <p>Nome:</p> 
    <input type="text" name="nome" value="{{candidato.nome}}">
    <br><br>
    <input type="submit" value="Editar">
</form>