
<form action="/post-edit-ouvintes" method="post">
    <h1>Edição de OUVINTE</h1>
    <input type="hidden" name="id" value="{{ouvinte.ra}}">
    <p>RA:</p>
    <input type="text" name="ra" value="{{ouvinte.ra}}">
    <p>Nome:</p> 
    <input type="text" name="nome" value="{{ouvinte.nome}}">
    <br><br>
    <input type="submit" value="Editar">
</form>