<form action="/post-interesse" method="post">
    <h1>Edição de RESPONSAVEL DE PROJETO</h1>
    <input type="hidden" name="id" value="{{projeto.id}}">
    <p>Insira seu nome:</p>
    <input type="text" name="nome" value="NOME:"> <br>
    <input type="submit" value="Editar">
</form>