<div class="lista">
    <h1>Lista de OUVINTES</h1>
    <table border="10px">
        <tr>
            <td><b> RA </b></td>
            <td><b> Nome </b></td>
            <td><b> Editar </b></td>
            <td><b> Excluir </b></td>
        </tr>
        {{#each ouvinte}}
        <tr>
            <td>{{ra}}</td>
            <td>{{nome}}</td>
            <td><a href="editarOuvinte/{{ra}}">Editar</a></td>
            <td><a href="excluirOuvinte/{{ra}}">Excluir</a></td>
        </tr>
        {{/each}}
    </table>
    <br><br><br><br>
</div>