<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso ADMINISTRADOR</title>
</head>
<body>
    <div>
    <h1>MENU DE ADMINISTRADOR</h1>
    <a href="/listar-candidatos"><input type="button" value="Listar Candidatos"></a>
    <a href="/listar-ouvintes"><input type="button" value="Listar Ouvintes"></a>
    <a href="/listar-todas-apresentacao"><input type="button" value="Listar as Apresentações Votadas"></a>
    <a href="/alterar-votacao"><input type="button" value="Iniciar/Encerrar Periodo de Votação"></a>
    </div>
</body>
</html>