<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso OUVINTE</title>
</head>
<body>
    <div>
    <h1>MENU DE RESPONSAVEL DE PROJETO</h1>
        <h2>Bem-Vindo {{responsavel.nome}}!</h2>
    <a href="/cadastrar-projetos/{{responsavel.cpf}}"><input type="button" value="Cadastrar Projetos"></a>
    <a href="/listar-projetos/{{responsavel.cpf}}"><input type="button" value="Listar projetos"></a>
    </div>
</body>
</html>