<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso OUVINTE</title>
</head>
<body>
    <div>
    <h1>MENU DE OUVINTE</h1>
        <h2>Bem-Vindo {{ouvinte.nome}}!</h2>
    <a href="/listar-votar-apresentacoes/{{ouvinte.ra}}"><input type="button" value="Votar nas Apresentaçoes"></a>
    </div>
</body>
</html>